@font-face {
    font-family: 'Gilroy-Black1';
    src: url(/MaiAtech/fonts/Gilroy-Black1.otf);
  }

@font-face {
font-family: 'OpenSans-Regular';
src: url(/MaiAtech/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-Regular1';
    src: url(/MaiAtech/fonts/Gilroy-Regular1.otf);
}

@font-face {
    font-family: 'Gilroy-Semibold1';
    src: url(/MaiAtech/fonts/Gilroy-Semibold1.otf);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-image: url(/MaiAtech/img/Line3.png), url(/MaiAtech/img/Line4.png), url(/MaiAtech/img/home-page/header-bg.jpg), url(/MaiAtech/img/home-page/Rectangle27.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 10% 19%, 7% 15%, 100% 71%, 100% 62%;
    background-position: 100% 0%, 0% 18%, 0% 0%, 0% 63%;
    color: white;
}

nav {
    font-family: 'OpenSans-Regular';
    width: 100%;
    height: 200px;
}

.navbar-nav {
    position: absolute;
    left: 54%;
    top: 74px;
    z-index: 3;
}

.navbar-nav li {
    padding-right: 48px;
}

.navbar-nav li a {
    color: white !important;
    width: 100%;
    padding-right: 15px;
    font-size: 1vw;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: rgb(31, 184, 211) !important;
}

.nav-link {
    width: 10%;
}

.set_heigh {
    background: url(/MaiAtech/img/Rectangle461.png), url(/MaiAtech/img/home-page/Line1.png);
    background-position: 14% 22%, 79% 80%;
    background-repeat: no-repeat;
    background-size: 6%, 31% 23%;
}

.slogan {
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 6%;
    padding-top: 2%;
}

.line1 {
    margin-left: -7%;
    display: none;
}

.img0 {
    margin-left: 70px;
}

.img1 {
    font-family: 'Gilroy-Black1';
    font-size: 21.6vw;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: -19.3%;
    bottom: 0;
}


.img2 {
    font-family: 'Gilroy-Regular1';
    font-size: 6.97vw;
    font-weight: 350;
    text-align: left;
}

.img3 {
    font-family: 'Gilroy-Semibold1';
    font-size: 11.43vw;
    font-weight: 700;
    text-align: left;
    line-height: 52%;
}

.back-slogan {
    background: url(/MaiAtech/img/Rectangle46.png);
    background-repeat: no-repeat;
    background-size: 70.8% 6%;
    background-position: 63% 101%;
}

.foll {
    width: 16%;
    height: 43px;
    color: #037EE3;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #124cce;
    border-radius: 2px;
}

.social {
    padding-top: 2%;
}

.social a {
    padding-left: 16px;
}

.social a img {
    width: 28px;
}

.null-squa-mobile {
    display: none;
}

.null-squa {
    opacity: 0.1;
    width: 227px;
    margin-left: 34.8%;
}

.content-image {
    background: url(/MaiAtech/img/home-page/Ellipse1.png);
    background-repeat: no-repeat;
    background-position: 50% 2%;
}

.content {
    color: black;
    padding-top: 24%;
    padding-left: 7%;
}

.sub_content {
    color: black;
    padding-right: 47%;
}

.mobile_content-image {
    display: none;
}

.who {
    text-transform: uppercase;
    color: #0061B0;
    font-size: 8vw;
    font-weight: 700;
    line-height: 73px;
}

.we_are {
    text-transform: uppercase;
    color: #908B8B;
    font-size: 6vw;
    margin-left: 21%;
    font-weight: 330;
    line-height: 103px;
}

.read_more {
    width: 193px;
    height: 43px;
    color: white;
    background: linear-gradient(to left, #048bfa 0%, #0061b0 100%);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #124cce;
    border-radius: 5px;
    margin-top: 10%;
}

.block-image {
    background: url(/MaiAtech/img/home-page/Ellipse2.png), url(/MaiAtech/img/home-page/Group157.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 75% 31%, 100% 109%;
    background-size: 36% 27%, 112% 66%;
}

.what_we_do {
    
}
.we_do {
    color: black;
    flex-direction: column;
    background: url(/MaiAtech/img/home-page/Group87.png) no-repeat;
    background-size: 22% 76%;
    background-position: 50% 0%;
    padding-top: 20%;
}

.mobile_flex-items {
    display: none;
}

.what_we_do {
    font-size: 36px;
}

.process {
    padding-left: 25%;
    padding-right: 25%;
}

.flex-items {
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    background: url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line2.png);
    background-repeat: no-repeat;
    background-position: 18% 41%, 39% 41%, 61% 41%, 82% 41%, 67.7% 40%;
    background-size: 17.7%, 17.7%, 17.7%, 17.7%, 1.5%;
}

.item_content > p {
    width: 96%;
    font-size: 0.9vw;
}

.flex-process {
    display: flex;
    margin-top: 10%;
}

.pro_title {
    padding: 3% 3% 5%;
    font-size: 1.1vw;
    width: 100%;
    height: 66px;
}

.eclip-line {
    display: flex;
    width: 19.5%;
}

.img13 {
    width: 100%;
}

.box_dev {
    display: flex;
    justify-content: space-around;
}

.blue-circle {
    position: absolute;
    top: 7px;
    left: -3px;
}

.development {
    color: #0061B0;
}

.our-service {
    display: flex;
    padding-left: 2%;
    padding-bottom: 11%;
}

.flex-content {
    padding: 5%;
    color: black;
    padding-top: 34%;
    padding-bottom: 20%;
}

.our {
    font-size: 8vw;
    font-weight: 700;
    color: #0061B0;
    text-transform: uppercase;
    line-height: 7px;
}

.service {
    font-size: 8vw;
    font-weight: 350;
    color: #908B8B;
    margin-left: 7%;
    text-transform: uppercase;
    line-height: 206px;
}

.content_direct {
    width: 92.8%;
    font-size: 1.3vw;
}

.flex-image {
    padding-top: 10%;
    background: url(/MaiAtech/img/home-page/Group172.png);
    background-repeat: no-repeat;
    background-size: 86% 98%;
    background-position: 100% 307%;
}

.flex-image > img {
    display: none;
}

.app-dev {
    padding-left: 6%;
}

.appdevelop {
    margin-top: 8%;
}

.app {
    font-size: 7vw;
    text-transform: uppercase;
    color: #0061B0;
    font-weight: 700;
    line-height: 2px;
}

.dev {
    font-size: 7.5vw;
    font-weight: 200;
    text-transform: uppercase;
    color: #908B8B;
}

.group-square {
    background: url(/MaiAtech/img/home-page/Group115.png);
    background-repeat: no-repeat;
}

.small-intro {
    font-size: 1.39vw;
    margin-left: 11%;
    max-width: 67%;
    margin-top: 23%;
}

.back-dev {
    background: url(/MaiAtech/img/home-page/Rectangle29.png), url(/MaiAtech/img/home-page/Rectangle28.png);
    background-position: 0% 0%, 100% 100%;
    background-size: 7%, 7%;
    background-repeat: no-repeat, no-repeat;
}

.devices {
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 16%;
    padding-right: 8%;
    background: url(/MaiAtech/img/home-page/Ellipse11.png), url(/MaiAtech/img/home-page/Ellipse9.png), url(/MaiAtech/img/home-page/Line6.png), url(/MaiAtech/img/home-page/Ellipse11.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 14% 50%, 51% 51%, 51% 51%, 88% 53%;
    background-size: 25%, 34%, 30%, 25%;
}

.box_dev > div {
    width: 50%;
}

.box_content {
    width: 50%;
    margin-left: 24%;
}

.dev_title {
    margin: 20px;
}

.sendInfo_price {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10%;
}

.mess_price {
    border: 1px solid #0062cc;
    padding: 104px;
    width: 100%;
    background: linear-gradient(to left, #048bfa 0%, #0061b0 100%);
    border-radius: 7px;
    color: white;
}

.border_content {
    font-size: 3vw;
    font-weight: 700;
}

.input-price {
    display: flex;
    justify-content: space-around;
    padding-top: 26px;
    padding-right: 9%;
    padding-left: 5%;
}

input[type=text] {
    padding: 9%;
    border: 1px solid;
    border-radius: 7px;
    border-color: #33A3FF;
    background: #33A3FF;
}

button[type=submit] {
    border: 1px solid white;
    border-radius: 5px;
    height: 58px;
    width: 188%;
    background: #FFF;
    font-size: 1vw;
    font-weight: 600;
}

.soft-dev {
    padding-left: 6%;
    padding-right: 6%;
}

.two-square {
    background: url(/MaiAtech/img/home-page/Group158.png) no-repeat;
    background-position: 96% 71%;
}

.soft-devt {
    text-align: right;
}

.soft {
    font-size: 7vw;
    text-transform: uppercase;
    color: #0061B0;
    font-weight: 700;
}

.devt {
    font-size: 7.5vw;
    font-weight: 200;
    text-transform: uppercase;
    color: #908B8B;
    line-height: 40px;
}

.services-project {
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 16%;
    padding-right: 10%;
    background: url(/MaiAtech/img/home-page/Ellipse11.png), url(/MaiAtech/img/home-page/Ellipse9.png), url(/MaiAtech/img/home-page/Line8.png), url(/MaiAtech/img/home-page/Ellipse11.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 15% 48%, 51% 51%, 51% 51%, 85% 50%;
    background-size: 23%, 32%, 30%, 23%;
}

.meet {
    color: black;
    font-size: 2.5vw;
    font-weight: 700;
}

.carousel-img {
    display: flex;
    justify-content: space-evenly;
}

.simple-slide {
    background: url(/MaiAtech/img/home-page/Rectangle32.png);
    background-repeat: no-repeat;
    background-size: 102% 92%;
    margin-top: 3%;
    width: 23%;
    padding-left: 1.7%;
    padding-right: 1.2%;
    padding-top: 1.4%;
}

.center-slide {
    background: url(/MaiAtech/img/home-page/Rectangle32.png);
    background-repeat: no-repeat;
    background-size: 102% 100%;
    padding-left: 1.97%;
    padding-right: 1.4%;
    padding-top: 1.4%;
    padding-bottom: 2%;
    margin-top: 1%;
    width: 26%;
}

.simple-slide img {
    max-width: 100%;
}

.center-slide img {
    max-width: 100%;
}

.set_member {
    padding: 8%;
}

.slide-show {
    padding-bottom: 10%;
}

.carousel {
    padding: 1.5%;
}

.carousel-bar {
    padding: 3%;
}

.carousel-item {
    display: block !important;
}

.carousel-indicators li {
    background-color: #C4C4C4;
}

.carousel-indicators .active {
    background-color: #0061B0;
}

.carousel-slide {
    padding-bottom: 10%;
    display: flex;
}

item.active {
    display: block;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
}

.back-img {
    background: url(/MaiAtech/img/home-page/Group87.png) no-repeat;
    background-position: -8% 54%;
}

.our-goals {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 1.7%;
    padding-top: 7%;
}

.our_after {
    color: #0061B0;
    font-size: 7vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 68px;
}

.goals {
    color: #908B8B;
    font-size: 7vw;
    font-weight: 330;
    margin-left: 11%;
    text-transform: uppercase;
    line-height: 115px;
}

.small-intro2 {
    font-size: 1.3vw;
    margin-top: 18%;
    width: 82%;
}

.slogan-show ul {
    list-style: none;
    padding-left: 4%;
    padding-right: 4%;
}

.slogan-show ul li {
    padding-left: 5%;
    padding-top: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
}

.slogan-slide01 {
    background: url(/MaiAtech/img/home-page/Line7.png), url(/MaiAtech/img/home-page/Rectangle27.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 25% 100%, 98% 103%;
    background-position: 86% 100%;
}

.slogan-slide01 > div {
    display: flex;
    justify-content: space-between;
}

.slogan-content {
    width: 52.5%;
}

.footer {
    background: 
    url(/MaiAtech/img/home-page/Rectangle1211.png), 
    url(/MaiAtech/img/home-page/Ellipse3.png), 
    url(/MaiAtech/img/home-page/Group114.png), 
    url(/MaiAtech/img/home-page/Primary.png), 
    url(/MaiAtech/img/home-page/Rectangle23.png), 
    url(/MaiAtech/img/home-page/MaskGroup6.png), 
    url(/MaiAtech/img/home-page/footer-bg.jpg);
    background-size: 5% 11%, 8% 11%, 7% 6%, 4% 4%, 100% 38%, 100% 38%, 100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0% 79%, 100% 74%, 87% 55.2% ,90% 12.5%, 0% 32%, 0% 32%;
    color: white;
    padding-top: 32%;
    margin-top: -9%;
}

.footer-img {
    position: relative;
}

.we_deal {
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2px;
}

.cus_deal {
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 53px;
}

.your {
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 38px;
}

.solut {
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 94px;
}

.contact {
    width: 193px;
    height: 43px;
    color: white;
    background: linear-gradient(to left, #048bfa 0%, #0061b0 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0,2);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #124cce;
    border-radius: 5px;
}

.footer_item {
    position: relative;
    padding-bottom: -6%;
    padding-top: 12%;
}

.left-logo {
    padding-top: 14%;
    padding-left: 18%;
}

.footer_social {
    display: flex;
    width: 48%;
    justify-content: space-around;
    margin-left: 26%;
}

.footer_contactmenu {
    display: flex;
}

.footer_contact {
    padding-top: 17%;
    padding-right: -25%;
    max-width: 34%;
    padding-left: 6%;
}

.footer_contact h5 {
    font-weight: 700;
}

.footer_contact p {
    font-weight: 200;
}

.footer_menu {
    padding-top: 16%;
    font-size: 1.17vw;
    padding-left: 19%;
}

.footer_menu ul li {
    list-style-type: none;
    line-height: 33px;
}

.footer_menu ul li a {
    color: white;
    font-weight: 200;
}

.img51 {
    margin-top: 28%;
    margin-left: 17%;
    opacity: 0.3;
}

.copyright {
    margin-top: 12%;
    font-weight: 350;
    font-size: 0.9rem;
    padding-left: 2%;
}

@media only screen and (min-width: 1200px)  and (max-width: 1440px) {

    .navbar-nav {
        left: 49%;
    }

    .null-squa {
        margin-left: 29.8%;
    }

    .img1 {
        top: -16.9%;
    }

    .set_heigh {
        background-position: 14% 22%, 80% 80%;
        background-size: 6%, 31% 23%;
    }

    .back-slogan {
        background-size: 71.5% 7%;
        background-position: 61% 100%;
    }

    .foll {
        width: 17%;
        margin-left: 78%;
    }

    .social {
        margin-left: 79.3%;
    }

    .soft {
        font-size: 6vw;
    }

    .devt {
        font-size: 6.5vw;
    }

    .flex-items {
        display: flex;
        padding-left: 6%;
        padding-right: 6%;
        background: url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line2.png);
        background-repeat: no-repeat;
        background-position: 18% 44%, 39% 44%, 61% 44%, 82% 44%, 67.8% 43%;
        background-size: 17.7%, 17.7%, 17.7%, 17.7%, 1.5%;
    }

    .we_do {
        background-size: 23% 69%;
        background-position: 50% 0%;
        padding-top: 24%;
    }

    .dev_title {
        margin: 6px;
    }

    .box_content {
        font-size: 1.1vw;
    }

    .mess_price {
        padding: 48px;
    }

    .input-price {
        padding-right: 8%;
        padding-left: 0%;
    }

    button[type=submit] {
        height: 49px;
    }

    .set_member p:last-child {
        font-size: 1.06vw;
    }

    .back-img {
        background-position: -13% 51%;
    }

    .footer {
        background-size: 7% 11%, 10% 10%, 8% 5%, 5% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 79%, 100% 74%, 87% 55.7% ,90% 12.5%, 0% 32%, 0% 32%;
        padding-top: 41%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        background-size: 10% 18%, 7% 11%, 100% 66.4%, 100% 65.5%;
        background-position: 100% 0%, 0% 21%, 0% 0%, 0% 63%;
    }

    .navbar-nav {
        left: 50%;
    }

    .navbar-nav li {
        padding-right: 34px;
    }

    .img0 {
        margin-left: 27px;
    }

    .null-squa {
        width: 206px;
        margin-left: 28%;
    }

    .back-slogan {
        background-size: 72.3% 7%;
        background-position: 61.5% 99%;
    }

    .content {
        padding-top: 32%;
    }

    .sub_content {
        padding-right: 20%;
    }

    .who {
        line-height: 18px;
    }

    .set_heigh {
        background-position: 14% 22%, 92% 80%;
        background-size: 7%, 46% 29%;
    }

    .flex-items {
        display: flex;
        padding-left: 6%;
        padding-right: 6%;
        background: url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line5.png), url(/MaiAtech/img/home-page/Line2.png);
        background-repeat: no-repeat;
        background-position: 18% 47%, 39% 47%, 61% 47%, 82% 47%, 67.8% 47%;
        background-size: 17.7%, 17.7%, 17.7%, 17.7%, 1.5%;
    }

    .block-image {
        background-position: 74% 32%, 103% 108%;
        background-size: 38% 23%, 112% 66%;
    }

    .we_do {
        background-size: 24% 67%;
        background-position: 50% 0%;
        padding-top: 20%;
    }

    .devices {
        padding-top: 15%;
        background-position: 13% 46%, 51% 44%, 51% 51%, 89% 47%;
        background-size: 25%, 35%, 30%, 25%;
    }

    .dev_image > img {
        width: 20%;
    }

    .dev_title {
        font-size: 1.2vw;
        margin: 1px;
    }

    .box_content {
        font-size: 1.2vw;
    }

    .flex-container3 {
        justify-content: space-evenly;
        padding-left: 7%;
        padding-right: 5%;
    }

    .flex-container4 {
        padding-left: 8%;
        padding-right: 9%;
    }

    .mess_price {
        padding: 73px;
    }

    .input-price {
        padding-right: 9%;
        padding-left: 0%;
    }

    input[type=text] {
        width: 100%;
    }

    .services-project {
        padding-top: 15%;
        background-position: 14% 46%, 51% 44%, 52% 51%, 87% 47%;
        background-size: 25%, 33%, 30%, 25%;
    }

    .set_member p:last-child {
        font-size: 1.1vw;
    }

    .small-intro2 {
        font-size: 1.7vw;
    }

    .back-img {
        background-position: -21% 42.1%;
    }

    .slogan-content {
        width: 40.5%;
    }

    .slogan-content > p {
        font-size: 1.2vw;
    }

    .footer {
        background: url(/MaiAtech/img/home-page/Ellipse4.png), url(/MaiAtech/img/home-page/Rectangle1211.png), url(/MaiAtech/img/home-page/Ellipse3.png), url(/MaiAtech/img/home-page/Group114.png), url(/MaiAtech/img/home-page/Primary.png), url(/MaiAtech/img/home-page/Rectangle23.png), url(/MaiAtech/img/home-page/MaskGroup6.png), url(/MaiAtech/img/home-page/footer-bg.jpg);
        background-size: 13% 11%, 7% 12%, 10% 9%, 7% 4%, 6% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 0% 10%, 0% 72%, 100% 70%, 87% 56.2% ,90% 12.5%, 0% 32%, 0% 32%, 0% 0%;
        color: white;
        padding-top: 46%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        background-size: 10% 16%, 6% 9%, 100% 71.8%, 100% 60%;
        background-position: 100% 0%, 0% 19%, 0% 0%, 0% 63%;
        padding-bottom: 6%;
    }

    .null-squa {
        width: 209px;
        margin-left: 21.8%;
    }

    .back-slogan {
        background-size: 72.8% 6%;
        background-position: 63% 96%;
    }

    .img1 {
        font-size: 22.9vw;
        top: -18.3%;
    }

    .slogan {
        padding-left: 0%;
        padding-right: 6%;
    }

    .foll {
        width: 22%;
    }

    .set_heigh {
        background-position: 17% 17.2%, 95% 74.9%;
        background-size: 7%, 41% 23%;
    }

    .img10 > img {
        width: 213px;
    }

    .content-image {
        background-size: 14%;
    }

    .flex-items {
        background-position: 18% 49%, 39% 49%, 61% 49%, 82% 49%, 67.9% 49.6%;
        background-size: 17.7%, 17.7%, 17.7%, 17.7%, 2.5%;
    }

    .who {
        line-height: 1px;
    }

    .we_are {
        line-height: 95px;
    }

    .we_do {
        background-size: 23% 61%;
        background-position: 50% 0%;
    }

    .sub_content {
        padding-right: 17%;
        font-size: 1.7vw;
    }

    .read_more {
        width: 54%;
        border-radius: 2px;
    }

    .block-image {
        background-position: 70% 26%, 100% 93%;
        background-size: 48%, 112% 68%;
    }

    .dev_image > img {
        width: 20%;
    }

    .dev_title {
        margin: 5px;
    }

    .dev_title h5 {
        font-size: 1.5vw;
    }

    .process {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content_direct {
        width: 92.8%;
        font-size: 1.7vw;
    }

    .content-process {
        font-size: 1.7vw;
        line-height: 14px;
    }

    .service {
        line-height: 80px;
    }

    .process-action {
        font-size: 1.7vw;
    }

    .devices {
        background-position: 13% 47%, 51% 47%, 51% 51%, 89% 46%;
        font-size: 1.2vw;
    }

    .dev-image > div {
        text-align: center;
    }

    .dev-image > div > img {
        max-width: 50%;
    }

    .mess_price {
        padding: 44px;
    }

    .input-price {
        padding-right: 14%;
        padding-left: 0%;
    }

    input[type=text] {
        padding: 6%;
        width: 82%;
    }

    button[type=submit] {
        height: 44px;
        width: 246%;
    }

    .services-project {
        font-size: 1.2vw;
        background-position: 13% 45%, 50% 46%, 51% 51%, 87% 45%;
    }

    .ser-image {
        text-align: center;
    }

    .ser-image > div > img {
        max-width: 50%;
    }

    .set_member {
        font-size: 1.3vw;
    }

    .our_after {
        line-height: 0px;
    }

    .goals {
        line-height: 79px;
    }

    .small-intro2 {
        font-size: 1.9vw;
        margin-top: 4%;
        width: 100%;
    }

    .slogan-content {
        width: 100%;
    }

    .slogan-slide01 > div > div:last-child {
        display: none;
    }

    .back-img {
        background-position: -14% 46%;
        background-size: 29%;
    }

    .footer {
        background-size: 7% 13%, 11% 11%, 11% 5%, 7% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 77%, 100% 74%, 87% 55.7% ,93% 10.5%, 0% 32%, 0% 32%;
        padding-top: 59%;
        margin-top: -17%;
    }

    .left-logo {
        padding-top: 22%;
        padding-left: 11%;
    }

    .footer_menu {
        font-size: 2.17vw;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        background-size: 10% 19%, 5% 9%, 100% 69%, 100% 69%;
        background-position: 100% 0%, 0% 18%, 0% 0%, 0% 63%;
    }

    .null-squa {
        width: 195px;
        margin-left: 23.8%;
    }

    .back-slogan {
        background-size: 73% 6%;
        background-position: 63% 97%;
    }

    .img1 {
        font-size: 23.2vw;
    }

    .foll {
        width: 24%;
    }

    .set_heigh {
        background-position: 14% 16%, 104.5% 83%;
        background-size: 8%, 51.3% 33%;
    }

    .content {
        padding-top: 28%;
    }

    .who {
        line-height: 10px;
    }

    .content-image {
        background-position: 50% 2%;
        background-size: 16%;
    }

    .sub_content {
        padding-right: 0%;
    }
    
    
    .block-image {
        background-position: 72% 20%, 100% 97%;
        background-size: 45% 20%, 112% 73%;
    }

    .flex-items {
        background-position: 18% 50%, 39% 50%, 61% 50%, 83% 50%, 67.8% 50%;
        background-size: 17.7%, 17.7%, 17.7%, 17.7%, 2.5%;
    }

    .we_do {
        background-size: 18% 52%;
        background-position: 50% 13%;
        padding-top: 20%;
    }

    .what_we_do {
        background-size: 4%;
    }

    .services-project {
        padding-left: 9%;
        background-position: 12% 45%, 50% 45%, 51% 51%, 88% 46%;
        background-size: 26%, 34%, 30%, 26%;
    }

    .devices {
        background-position: 14% 46%, 52% 46%, 51% 51%, 89% 45%;
        background-size: 26%, 34%, 30%, 26%;
    }

    .dev_image > img {
        width: 20%;
    }

    .dev_title {
        margin: 7px;
    }

    .dev_title > h5 {
        font-size: 1.4vw;
    }

    .box_content {
        font-size: 1.2vw;
    }

    .input-price {
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
        padding-right: 0%;
        padding-left: 0%;
        flex-wrap: wrap;
    }

    .input-price > div {
        margin-top: 10px;
    }

    button[type=submit] {
        border: 1px solid white;
        border-radius: 5px;
        height: 58px;
        width: 182px;
        background: #FFF;
        font-size: 1.5vw;
        font-weight: 600;
    }

    .set_member {
        font-size: 1.5vw;
    }


    .process {
        font-size: 1.5vw;
    }

    .flex-container4 {
        padding-left: 8%;
        font-size: 1.2vw;
    }

    .content-process {
        line-height: 12px;
    }

    .our {
        line-height: 0px;
    }

    .our_after {
        line-height: 31px;
    }

    .goals {
        line-height: 63px;
    }

    .small-intro2 {
        font-size: 1.8vw;
        margin-top: 8%;
    }

    .image_content {
        display: none;
    }

    .back-img {
        background-position: -17% 35%;
        background-size: 32%;
    }

    .slogan-content {
        width: 100%;
    }

    .service {
        line-height: 94px;
    }

    .content_direct {
        font-size: 1.5vw;
    }

    .process-action div {
        width: 37%;
        font-size: 1.4vw;
    }

    .footer {
        background-size: 8% 12%, 11% 11%, 10% 4%, 7% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 74%, 100% 70%, 87% 56.2% ,90% 12.5%, 0% 32%, 0% 32%;
        padding-top: 59%;
        margin-top: -16%;
    }

    .left-logo {
        padding-left: 10%;
    }

    .footer_social {
        width: 57%;
        margin-left: 23%;
    }

    .footer_menu {
        font-size: 2vw;
    }



}

@media only screen and (max-width: 480px) {

    .header {
        background-size: 10% 19%, 5% 9%, 100% 54%, 100% 63%;
        background-position: 100% 0%, 0% 18%, 0% 0%, 0% 63%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .set_heigh {
        background-image: none;
    }

    .read_more {
        background: #0061B0;
    }

    .null-squa {
        width: 124px;
    }

    .back-slogan {
        background-image: none;
    }

    .foll {
        width: 43%;
    }

    .we_are {
        line-height: 52px;
    }

    .content-image {
        display: none;
    }
    
    .mobile_content-image {
        display: block;
        color: black;
    }

    .mobile_block-image {
        background: url(/MaiAtech/img/home-page/Ellipse2.png);
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-size: 35%;
        padding-right: 38px;
        
    }

    .flex-items {
        display: none;
    }

    .mobile_flex-items {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        background: url(/MaiAtech/img/Line5.png), url(/MaiAtech/img/Line5.png), url(/MaiAtech/img/Line5.png), url(/MaiAtech/img/Line5.png);
        background-repeat: no-repeat;
        background-position: 8% 13%, 8% 38%, 8% 63%, 8% 88%;
    }

    .mobile_item-display {
        display: flex;
        margin: 28px 14px;
    }

    .mobile_item-display > div {
        margin: 6% 4%;
    }

    .mobile_display-circle > img {
        margin-top: 60px;
    }

    .mobile_display-image > img {
        margin-top: 28px;
    }

    .item_content > p {
        width: 94%;
        font-size: 2.7vw;
    }

    .mobile_block-image > img {
        max-width: 100%;
        margin-top: 63px;
    }

    .we_do {
        background-size: 71%;
        background-position: 50% 25%;
        padding-top: 49%;
    }

    .what_we_do {
        background-size: 4%;
        margin-top: 64px;
    }

    .process {
        font-size: 2vw;
    }

    .content-process {
        line-height: 9px;
    }

    .our-service {
        padding-left: 4%;
        flex-direction: column-reverse;
        padding-right: 4%;
    }

    .flex-image {
        background: none
    }

    .flex-image > img {
        max-width: 100%;
    }

    .our {
        font-size: 13vw;
    }

    .service {
        font-size: 13vw;
        margin-left: 13%;
    }

    .content_direct {
        font-size: 4.5vw;
        max-width: 100%;
    }

    .flex-process {
        display: flex;
        margin-top: 18%;
        flex-direction: column;
    }

    .flex-process > div {
        margin: 13% 0 0 0;
    }

    .pro_title {
        padding: 3% 3% 5%;
        font-size: 3.5vw;
        width: 100%;
        height: 20px;
    }

    .pro_content {
        padding: 0 29% 0 29%;
    }

    .app {
        font-size: 12vw;
    }

    .dev {
        font-size: 12.5vw;
    }

    .group-square {
        background-size: 11%;
    }

    .small-intro {
        font-size: 4.39vw;
        margin-left: 0%;
        margin-top: 1%;
    }

    .back-dev {
        background-position: 0% 0%, 113% 100%;
        background-size: 11%, 11%;
    }

    .devices {
        background-position: 50% 13%, 50% 50%, 51% 50%, 50% 87%;
        background-size: 60%, 80%, 66%, 60%;
        height: 1091px;
    }

    .box_dev {
        flex-direction: column;
        
    }

    .box_dev > div {
        width: 50%;
        margin: 15% 23%;
    }

    .dev_image > img {
        width: 46%;
    }

    .dev_title > h5 {
        font-size: 3.4vw;
    }

    .box_content {
        width: 100%;
        font-size: 2.6vw;
        margin-left: 2%;
    }

    .sendInfo_price {
        padding-left: 13%;
        padding-right: 13%;
    }

    .mess_price {
        padding: 54px 27px 46px 9px;
    }

    .border_content {
        font-size: 8vw;
    }

    .input-price {
        display: flex;
        justify-content: space-around;
        padding-top: 26px;
        flex-wrap: wrap;
    }

    .input-price > div {
        margin-top: 61px;
    }

    button[type=submit] {
        width: 214px;
        font-size: 4.5vw;
        margin-left: 8%;
    }

    .soft-dev {
        flex-direction: column-reverse;
    }

    .two-square {
        background: none;
    }

    .soft {
        font-size: 11vw;
    }

    .devt {
        font-size: 12.5vw;
    }

    .small-intro {
        text-align: right;
        max-width: 100%;
    }

    .services-project {
        background-position: 50% 13%, 50% 52%, 51% 50%, 50% 93%;
        background-size: 60%, 80%, 66%, 60%;
        height: 1091px;
    }

    .meet {
        font-size: 7.5vw;
    }

    .our-goals {
        display: none;
    }

    .slogan-show {
        display: none;
    }

    .display_slide {
        display: none !important;
    }

    .back-img {
        background: none;
    }


    .footer {
        background-image: none;
    }
    
    .footer_mobile {
        background: url(/MaiAtech/img/home-page/Ellipse4.png), url(/MaiAtech/img/home-page/Rectangle1211.png), url(/MaiAtech/img/home-page/Ellipse3.png), url(/MaiAtech/img/home-page/Group114.png), url(/MaiAtech/img/home-page/Rectangle23_1.png), url(/MaiAtech/img/home-page/MaskGroup7.png), url(/MaiAtech/img/home-page/Vector.png);
        background-size: 16%, 15% 8%, 22% 7%, 16% 3%, 100% 49%, 100% 49%, 100% 100%;
        background-repeat: no-repeat;
        background-position: 0% 1.5%, 0% 89%, 100% 90%, 87% 54.3% , 0% 13%, 0% 13%;
        color: white;
        padding-top: 41%;
        margin-top: 20%;
    }

    .we_deal {
        font-size: 7.5vw;
        line-height: 51px;
        padding-left: 54px;
        padding-right: 54px;
    }

    .cus_deal {
        font-size: 7.5vw;
        line-height: 53px;
        padding-left: 54px;
        padding-right: 54px;
        margin-top: -19px;
    }

    .your {
        font-size: 14.5vw;
        line-height: 82px;
    }

    .solut {
        font-size: 15.5vw;
        line-height: 84px;
    }

    .footer_item {
        padding-top: 60%;
    }

    .left-logo {
        padding-top: 43%;
        margin-left: -48px;
    }

    .footer_contact {
        max-width: 66%;
    }

    .footer_contactmenu {
        flex-direction: column;
        padding-left: 71px;
    }

    .footer_menu {
        font-size: 3.57vw;
        margin-left: -23%;
    }

    .img51 {
        margin-left: 36%;
    }

    .copyright {
        margin-left: -10%;
    }

}