@font-face {
    font-family: 'Gilroy-Black1';
    src: url(MaiAtech/fonts/Gilroy-Black1.otf);
  }

@font-face {
font-family: 'OpenSans-Regular';
src: url(MaiAtech/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-Regular1';
    src: url(MaiAtech/fonts/Gilroy-Regular1.otf);
}

@font-face {
    font-family: 'Gilroy-Semibold1';
    src: url(MaiAtech/fonts/Gilroy-Semibold1.otf);
}

@font-face {
    font-family: 'Gilroy-Light1';
    src: url(MaiAtech/fonts/Gilroy-Light1.otf);
}

@font-face {
    font-family: 'Gilroy-Medium1';
    src: url(MaiAtech/fonts/Gilroy-Medium1.otf);
}



body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-image: url(MaiAtech/img/Line3.png), url(MaiAtech/img/Line4.png), url(MaiAtech/img/home-page/header-bg.jpg);
    background-size: 10% 19%, 5% 11%, 100% 66.7%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 100% 0%, 0% 21%;
    color: white;
}

nav {
    font-family: 'OpenSans-Regular';
    width: 100%;
    height: 200px;
}

.navbar-nav {
    position: absolute;
    left: 54%;
    top: 74px;
    z-index: 3;
}

.navbar-nav li {
    padding-right: 48px;
}

.navbar-nav li a {
    color: white !important;
    width: 100%;
    padding-right: 15px;
    font-size: 1vw;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: rgb(31, 184, 211) !important;
}

.nav-link {
    width: 10%;
}

.set_heigh {
    background: url(MaiAtech/img/Rectangle461.png);
    background-position: 14% 26%;
    background-repeat: no-repeat;
    background-size: 6%;
}

.slogan {
    padding: 25px;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 7%;
}

.line1 {
    margin-left: -7%;
    display: none;
}

.img0 {
    margin-left: 70px;
}

.img1 {
    font-family: 'Gilroy-Black1';
    font-size: 21.6vw;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: -19.3%;
    bottom: 0;
}


.img2 {
    font-family: 'Gilroy-Regular1';
    font-size: 6.97vw;
    font-weight: 350;
    text-align: left;
}

.img3 {
    font-family: 'Gilroy-Semibold1';
    font-size: 11.43vw;
    font-weight: 700;
    text-align: left;
    line-height: 52%;
}

.back-slogan {
    background: url(MaiAtech/img/Rectangle46.png);
    background-repeat: no-repeat;
    background-size: 70.8% 6%;
    background-position: 63% 101%;
}

.foll {
    width: 14%;
    height: 43px;
    color: #037EE3;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #124cce;
    border-radius: 2px;
    margin-left: 80.6%;
}

.social {
    margin-left: 83.3%;
    margin-top: 2%;
}

.social a {
    padding-right: 36px;
}

.social a img {
    width: 28px;
}

.null-squa-mobile {
    display: none;
}

.null-squa {
    opacity: 0.1;
    width: 227px;
    margin-left: 34.8%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: white;
    border-bottom: 2px solid rgb(11, 12, 12);
    outline: none;
}

.intro-maia {
    width: 70%; 
    height: 269px; 
    position: absolute; 
    left: 10%; 
    top: 92px;
}

.intro-content {
    width: 82%;
    height: 1108px;
    padding-top: 17%;
    padding-left: 13%;
    padding-right: 10%;
}

.form-group {
    margin-bottom: 7rem;
}

.form-floating {
    padding-left: 13% !important;
    max-width: 87% !important;
}

.form-textarea label {
    font-size: 21px;
    font-weight: 700;
    color: #0061B0;
}

textarea {
    width: 100%;
    height: 200px !important;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: #b0d4f3 !important;
    font-size: 16px;
    resize: none;
  }

.form-submit {
    background: linear-gradient(to left, #048bfa 0%, #0061b0 100%);
    border-color: #007bff;
    border-radius: 2px;
    width: 34%;
    color: #FFF;
    height: 40px;
    margin-top: 11%;
}

.img-slogan {
    height: 1048px;
}

.sub-content {
    justify-content: flex-end;
    padding-right: 0%;
    background: url(MaiAtech/img/Ellipse1.png), url(MaiAtech/img/Rectangle44.png), url(MaiAtech/img/Ellipse3.png), url(MaiAtech/img/Line21.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 26% 18%, 0% 19%, 8% 62%, 0% 69%;
    background-size: 11% 11%, 11% 20%, 27% 24%, 45% 44%;
}

.form-content {
    width: 68%;
}

.message {
    padding-right: 1%;
    width: 67%;
    color: black;
}

.mess-for {
    margin-right: 16%;
    font-size: 8vw;
    font-weight: 350;
    color: #0061B0;
}

.mess-maia {
    color: #0061B0;
    font-size: 7vw;
    font-weight: 700;
    margin-right: 9%;
    line-height: 41px;
}

.mess-hotline {
    font-size: 18px;
    margin-right: 9%;
    line-height: 77px;
}

.img6 {
    width: 21%;
    height: 35px;
    position: absolute;
    top: 90px;
    left: 40%;
}

.end-slogan {
    margin-top: 97px;
}


.footer {
    background: 
    url(MaiAtech/img/home-page/Rectangle1211.png), 
    url(MaiAtech/img/home-page/Ellipse3.png), 
    url(MaiAtech/img/home-page/Group114.png), 
    url(MaiAtech/img/home-page/Primary.png), 
    url(MaiAtech/img/home-page/Rectangle23.png), 
    url(MaiAtech/img/home-page/MaskGroup6.png), 
    url(MaiAtech/img/home-page/footer-bg.jpg);
    background-size: 5% 11%, 8% 11%, 7% 6%, 4% 4%, 100% 38%, 100% 38%, 100% 100%;
    background-repeat: no-repeat;
    background-position: 0% 79%, 100% 74%, 87% 55.2% ,90% 12.5%, 0% 32%, 0% 32%;
    color: white;
    padding-top: 29%;
    margin-top: -9%;
    font-family: 'Gilroy-Light1';
}

.img43 {
    display: none;
}

.img50 {
    margin-left: 82%;
    margin-top: 10%;
}

.footer-img {
    position: relative;
}

.img44 {
    position: absolute;
    /* max-width: 100%; */
    width: 102%;
    left: -1%;
}

.img44_mobile {
    display: none;
}

.img45 {
    position: absolute;
    z-index: 2;
    width: 102%;
    left: -1%;
}

.img45_mobile {
    display: none;
}

.we_deal {
    font-size: 36px;
    font-weight: 400;
    line-height: 2px;
}

.cus_deal {
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
}

.your {
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Gilroy-Medium1';
}

.solut {
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 94px;
    font-family: 'Gilroy-Medium1';
}

.contact {
    width: 193px;
    height: 43px;
    color: white;
    background: linear-gradient(to left, #048bfa 0%, #0061b0 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0,2);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #124cce;
    border-radius: 5px;
}

.img46 {
    max-width: 100%;
    height: 97px;
}

.footer_item {
    position: relative;
    padding-bottom: -6%;
    padding-top: 12%;
}

.left-logo {
    padding-top: 22%;
    padding-left: 18%;
}

.img47 {
    margin-top: 27%;
    margin-left: -3%;
}

.footer_social {
    display: flex;
    width: 48%;
    justify-content: space-around;
    margin-left: 26%;
}

.footer_contactmenu {
    display: flex;
}

.footer_contact {
    padding-top: 17%;
    padding-right: -25%;
    max-width: 34%;
    padding-left: 6%;
}

.footer_contact h5 {
    font-weight: 700;
}

.footer_contact p {
    font-weight: 200;
}

.footer_menu {
    padding-top: 16%;
    font-size: 1.17vw;
    padding-left: 19%;
}

.footer_menu ul li {
    list-style-type: none;
    line-height: 33px;
}

.footer_menu ul li a {
    color: white;
    font-weight: 200;
}

.img49 {
    max-width: 114%;
    padding-top: 50%;
}

.img51 {
    margin-top: 28%;
    margin-left: 17%;
    opacity: 0.3;
}

.copyright {
    margin-top: 12%;
    font-weight: 350;
    font-size: 0.9rem;
    padding-left: 2%;
}

@media only screen and (min-width: 1200px)  and (max-width: 1440px) {
    .header {
        background-size: 10% 19%, 5% 11%, 100% 63.7%;
    }

    .navbar-nav {
        left: 50%;
    }

    .null-squa {
        margin-left: 30%;
    }

    .back-slogan {
        background-size: 71.8% 6%;
        background-position: 60.3% 99%;
    }

    .sub-content {
        padding-right: 0%;
    }

    .footer {
        background-size: 5% 11%, 8% 11%, 7% 6%, 5% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 79%, 100% 74%, 87% 55.2% ,90% 10.5%, 0% 32%, 0% 32%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        background-size: 10% 19%, 8% 11%, 100% 59.7%;
        background-position: 100% 0%, 0% 19%;
    }

    .navbar-nav {
        left: 50%;
    }

    .navbar-nav li {
        padding-right: 39px;
    }

    .null-squa {
        margin-left: 26%;
    }

    .set_heigh {
        background-position: 14% 20%;
    }

    .back-slogan {
        background-size: 72.4% 6%;
        background-position: 61.5% 98%;
    }

    .foll {
        width: 16%;
    }

    .social {
        margin-left: 81.8%;
    }

    .social a {
        padding-right: 23px;
    }

    .footer {
        background-size: 6% 12%, 10% 11%, 9% 5%, 6% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 74%, 100% 72%, 87% 55.8% ,90% 12.5%, 0% 32%, 0% 32%;
        padding-top: 46%;
        margin-top: -13%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        background-size: 10% 19%, 9% 9%, 100% 56.7%;
        background-position: 100% 0%, 0% 20%;
    }

    .null-squa {
        width: 201px;
        margin-left: 23.8%;
    }

    .back-slogan {
        background-size: 72.8% 6%;
        background-position: 62% 95%;
    }

    .set_heigh {
        background-position: 14% 18%;
    }

    .img1 {
        top: -16.3%;
    }

    .foll {
        width: 22%;
        margin-left: 74.6%;
    }

    .social {
        margin-left: 76.3%;
    }

    .social a img {
        width: 28px;
    }

    .sub-content {
        background-position: 26% 15%, 0% 16%, 5% 49%, 0% 65%;
        background-size: 14% 8%, 11% 16%, 31% 17%, 61% 51%;
    }

    .footer {
        background-size: 7% 13%, 11% 11%, 11% 5%, 7% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 77%, 100% 74%, 87% 55.7% ,93% 10.5%, 0% 32%, 0% 32%;
        padding-top: 59%;
        margin-top: -17%;
    }

    .left-logo {
        padding-top: 22%;
        padding-left: 11%;
    }

    .footer_menu {
        font-size: 2.17vw;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        background-size: 10% 19%, 8% 11%, 100% 55%;
        background-position: 100% 0%, 0% 19%;
    }

    .set_heigh {
        background-position: 14% 19%;
        background-size: 8%;
    }

    .null-squa {
        width: 200px;
        margin-left: 19.8%;
    }

    .img1 {
        top: -17.3%;
    }

    .back-slogan {
        background-size: 72.8% 6%;
        background-position: 63% 96%;
    }

    .foll {
        width: 24%;
        font-size: 10px;
        margin-left: 72.9%;
    }

    .social {
        margin-left: 77.3%;
        margin-top: 2%;
    }

    .social a {
        padding-right: 23px;
    }

    .sub-content {
        justify-content: center;
    }

    .form-content {
        width: 100%;
    }

    .footer {
        background-size: 8% 12%, 11% 11%, 10% 4%, 7% 4%, 100% 38%, 100% 38%, 100% 100%;
        background-position: 0% 74%, 100% 70%, 87% 56.2% ,90% 12.5%, 0% 32%, 0% 32%;
        padding-top: 59%;
        margin-top: -16%;
    }

    .left-logo {
        padding-left: 10%;
    }

    .footer_social {
        width: 57%;
        margin-left: 23%;
    }

    .footer_menu {
        font-size: 2vw;
    }

    
}

@media only screen and (max-width: 480px) {

    .header {
        background-size: 10% 19%, 8% 11%, 100% 52%;
        background-position: 100% 0%, -12%;
    }

    .set_heigh {
        background-position: 14% 12%;
        background-size: 10%;
    }

    .null-squa {
        display: none;
    }

    .null-squa-mobile {
        display: block;
        margin-left: 19%;
    }

    .img1 {
        font-size: 23.6vw;
    }

    .back-slogan {
        background-size: 75.8% 6%;
        background-position: 67% 91%;
    }

    .slogan {
        padding: 13px;
        padding-bottom: 15%;
}

    .foll {
        width: 40%;
        margin-left: 53.9%;
    }

    .social {
        margin-left: 60.3%;
    }

    .intro-content {
        height: 990px;
    }

    .footer {
        background-image: none;
    }
    
    .footer_mobile {
        background: url(MaiAtech/img/home-page/Rectangle1211.png), url(MaiAtech/img/home-page/Ellipse3.png), url(MaiAtech/img/home-page/Group114.png), url(MaiAtech/img/home-page/Rectangle23_1.png), url(MaiAtech/img/home-page/MaskGroup7.png), url(MaiAtech/img/home-page/Vector.png);
        background-size: 15% 9%, 22% 7%, 16% 3%, 100% 49%, 100% 49%, 100% 100%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 0% 91%, 100% 90%, 87% 54.3% , 0% 13%, 0% 13%;
        color: white;
        padding-top: 41%;
        margin-top: 2px;
    }

    .we_deal {
        line-height: 51px;
        padding-left: 54px;
        padding-right: 54px;
    }

    .cus_deal {
        line-height: 53px;
        padding-left: 54px;
        padding-right: 54px;
        margin-top: -19px;
    }

    .your {
        font-size: 14.5vw;
        line-height: 82px;
    }

    .solut {
        font-size: 15.5vw;
        line-height: 84px;
    }

    .footer_item {
        padding-top: 60%;
    }

    .left-logo {
        padding-top: 43%;
        margin-left: -48px;
    }

    .footer_contact {
        max-width: 66%;
    }

    .footer_contactmenu {
        flex-direction: column;
        padding-left: 71px;
    }

    .footer_menu {
        font-size: 3.57vw;
        margin-left: -23%;
    }

    .img51 {
        margin-left: 36%;
    }

    .copyright {
        margin-left: -10%;
    }
}