@font-face {
    font-family: 'Gilroy';
    src: url(MaiAtech/css/fonts/Gilroy-Medium1.otf);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-image: url(/MaiAtech/img/Line3.png), url(/MaiAtech/img/home-page/header-bg.jpg);
    background-size: 10% 19%, 100% 72.7%;
    background-repeat: no-repeat, no-repeat;
    background-position: top right;
    color: white;
}

nav {
    width: 100%;
    height: 200px;
}

.navbar-nav {
    position: absolute;
    left: 54%;
    top: 74px;
    z-index: 3;
}

.navbar-nav li {
    padding-right: 48px;
}

.navbar-nav li a {
    color: white !important;
    width: 100%;
    padding-right: 15px;
    font-size: 1vw;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: rgb(31, 184, 211) !important;
}

.nav-link {
    width: 10%;
}

.line1 {
    margin-left: 1%;
}

.img0 {
    margin-top: 1px;
}

.set_heigh {
    /* height: 587px; */
}

.slogan {
    padding-top: 2%;
}

.set_one {
    /* padding-left: 12%; */
}

.img1 {
    font-size: 304px;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: -25%;
    bottom: 0;
}

.set_believe {
    /* padding-top: 66px; */
}

.img2 {
    font-size: 6.5vw;
    font-weight: 300;
    text-align: left;
}

.img3 {
    font-size: 10.5vw;
    font-weight: 700;
    text-align: left;
    line-height: 62px;
}

.img4 {
    width: 713px;
    position: absolute;
    top: 97%;
    left: 45%;
    bottom: 0;
}

.foll {
    width: 21%;
    height: 43px;
    color: #037EE3;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #124cce;
    border-radius: 2px;
    /* margin-top: -1%; */
    margin-left: 71%;
}

.social {
    margin-left: 77%;
    margin-top: 2%;
}

.social a {
    padding-right: 36px;
}

.social a img {
    width: 28px;
}

.null-squa-mobile {
    display: none;
}

.null-squa {
    opacity: 0.1;
    width: 227px;
    margin-left: 34.8%;
}

.squa {
    position: absolute;
    top: -115px;
    left: 68%;
    width: 22%;
}

.content-border {
    background: url(/MaiAtech/img/Group87.png), url(/MaiAtech/img/Ellipse1.png), url(/MaiAtech/img/Rectangle44.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 32% 36%, 9% 10%, 9% 15%;
    background-position: 0% 70%, 23% 27%,0% 31%;
    position: relative;
    height: 1564px;
    color: black;
    padding-top: 10%;
}

.img5 {
    position: absolute;
    top: 185px;
    left: -1%;
    z-index: -1;
    opacity: 1;
}

.intro-content {
    font-size: 21px;
}

.content {
    width: 100%;
    position: absolute;
    top: 117%;
    left: -1%;
}

.img5 {
    position: absolute;
    top: 163px;
    left: -1%;
    z-index: -1;
    opacity: 1;
}

.rounded {
    width: 86%;
    /* height: 102%; */
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 8%;
    padding-bottom: 9%;
}

.ball {
    position: absolute;
    top: 173px;
    left: 26%;
    z-index: -1;
}

.ball-line {
    position: absolute;
    top: 34%;
    left: 0%;
    z-index: -1;
    opacity: 0.4;
    width: 625px;
    height: 574px;
}

.intro-maia {
    margin-left: -12%;
}

.introdu {
    color: #0061B0;
    font-size: 96px;
}

.maia {
    color: #0061B0;
    font-size: 96px;
    font-weight: 700;
    margin-top: -6%;
    margin-left: 20%;
}


.rounded div {
    font-size: 1.2vw;
    padding-left: 5%;
    padding-right: 5%;
}

.img6 {
    margin-top: 16%;
    margin-left: 38%;
}

.end-slogan {
    margin-left: 37%;
    margin-top: 2%;
}

.footer {
    background: 
    url(/MaiAtech/img/home-page/Rectangle1211.png), 
    url(/MaiAtech/img/home-page/Ellipse3.png), 
    url(/MaiAtech/img/home-page/Group114.png), 
    url(/MaiAtech/img/home-page/Primary.png), 
    url(/MaiAtech/img/home-page/Rectangle23.png), 
    url(/MaiAtech/img/home-page/MaskGroup6.png), 
    url(/MaiAtech/img/home-page/footer-bg.jpg);
    background-size: 5% 11%, 8% 11%, 7% 6%, 4% 4%, 100% 38%, 100% 38%, 100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0% 79%, 100% 74%, 87% 55.2% ,90% 12.5%, 0% 32%, 0% 32%;
    color: white;
    padding-top: 28%;
}

.img43 {
    display: none;
}

.img50 {
    margin-left: 82%;
    margin-top: 10%;
}

.footer-img {
    position: relative;
}

.img44 {
    position: absolute;
    /* max-width: 100%; */
    width: 102%;
    left: -1%;
}

.img44_mobile {
    display: none;
}

.img45 {
    position: absolute;
    z-index: 2;
    width: 102%;
    left: -1%;
}

.img45_mobile {
    display: none;
}

.we_deal {
    font-size: 36px;
    font-weight: 400;
    line-height: 2px;
}

.cus_deal {
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
}

.your {
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 38px;
}

.solut {
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 94px;
}

.contact {
    width: 193px;
    height: 43px;
    color: white;
    background: linear-gradient(to left, #048bfa 0%, #0061b0 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0,2);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #124cce;
    border-radius: 5px;
}

.img46 {
    max-width: 100%;
    height: 97px;
}

.footer_item {
    position: relative;
    padding-bottom: -6%;
    padding-top: 12%;
}

.left-logo {    
    padding-top: 14%;
    padding-left: 18%;
}

.img47 {
    margin-top: 27%;
    margin-left: -3%;
}

.footer_social {
    display: flex;
    width: 48%;
    justify-content: space-around;
    margin-left: 26%;
}

.footer_contactmenu {
    display: flex;
}

.footer_contact {
    padding-top: 17%;
    padding-right: -25%;
    max-width: 32%;
}

.footer_contact h5 {
    font-weight: 700;
}

.footer_contact p {
    font-weight: 200;
}

.footer_menu {
    padding-top: 16%;
    font-size: 1.17vw;
    padding-left: 19%;
}

.footer_menu ul li {
    list-style-type: none;
    line-height: 33px;
}

.footer_menu ul li a {
    color: white;
    font-weight: 200;
}

.img49 {
    max-width: 114%;
    padding-top: 50%;
}

.img51 {
    margin-top: 28%;
    margin-left: 17%;
    opacity: 0.3;
}

.copyright {
    margin-top: 12%;
    font-weight: 350;
    font-size: 0.9rem;
}


